
.board {
    display: grid;
    grid-template-columns: calc(.25*var(--tile-size)) calc(8*var(--tile-size));
    position: relative;
    box-sizing: border-box; 
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 0px; /* Move it down */
    margin-left: 0px; /* Move it left */
    margin-right: 0px;

}

.tiles {
    display:grid;
    grid-template-columns: repeat(8, var(--tile-size)); /* 8 columns equally divided */
    grid-template-rows: repeat(3, var(--tile-size)); /* 3 rows equally divided */
    width: calc(8 *var(--tile-size));
    position: relative;
    box-sizing: border-box;
}

.tile {
    position: relative;
    border: 1px solid black;
}

.tile--light{
    background: var(--light-tile);
    border: 4px white;
}

.tile--dark {
    background-image: url(../../assets/rosette.png);
    border: 1px solid black
}

.highlight:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(0.5 * var(--tile-size));
    height: calc(0.5 * var(--tile-size));
    background: var(--highlight);
    border-radius: 50%;
    left: 25%;
    top: 25%;
}

.attacking:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(0.5 * var(--tile-size) + 20px);
    height: calc(0.5 * var(--tile-size) + 20px);
    background: var(--highlight);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid var(--highlight);
}